In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('C:/Users/WuJue/Desktop/nyc-taxi-trip/input/train.csv')
test = pd.read_csv('C:/Users/WuJue/Desktop/nyc-taxi-trip/input/test.csv')

In [3]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
train.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982,40.768,-73.965,40.766,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980,40.739,-73.999,40.731,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979,40.764,-74.005,40.710,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010,40.720,-74.012,40.707,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973,40.793,-73.973,40.783,N,435

In [4]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
train.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
count,1458644.000,1458644.000,1458644.000,1458644.000,1458644.000,1458644.000,1458644.000
mean,1.535,1.665,-73.973,40.751,-73.973,40.752,959.492
std,0.499,1.314,0.071,0.033,0.071,0.036,5237.432
min,1.000,0.000,-121.933,34.360,-121.933,32.181,1.000
25%,1.000,1.000,-73.992,40.737,-73.991,40.736,397.000
50%,2.000,1.000,-73.982,40.754,-73.980,40.755,662.000
75%,2.000,2.000,-73.967,40.768,-73.963,40.770,1075.000
max,2.000,9.000,-61.336,51.881,-61.336,43.921,3526282.000

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null object
dropoff_datetime      1458644 non-null object
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [6]:
train.groupby('passenger_count').size()

passenger_count
0         60
1    1033540
2     210318
3      59896
4      28404
5      78088
6      48333
7          3
8          1
9          1
dtype: int64

In [7]:
train.groupby('store_and_fwd_flag').size()

store_and_fwd_flag
N    1450599
Y       8045
dtype: int64

In [8]:
train = train[train['passenger_count'] > 0]
train = train[train['passenger_count'] <= 6]

In [9]:
train = train[train['store_and_fwd_flag'] == 'N']

In [10]:
#行驶时长数据清洗
m = np.mean(train['trip_duration'])
s = np.std(train['trip_duration'])
train = train[train['trip_duration'] <= m + 3*s]
train = train[train['trip_duration'] >= m - 3*s]

In [11]:
#经纬度数据清洗
#去掉pickup和dropoff中超出纽约市经纬度的数据
train = train[train['pickup_longitude'] <= -73.75]
train = train[train['pickup_longitude'] >= -74.03]
train = train[train['pickup_latitude'] <= 40.85]
train = train[train['pickup_latitude'] >= 40.63]
train = train[train['dropoff_longitude'] <= -73.75]
train = train[train['dropoff_longitude'] >= -74.03]
train = train[train['dropoff_latitude'] <= 40.85]
train = train[train['dropoff_latitude'] >= 40.63]

In [12]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
test.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
count,625134.000,625134.000,625134.000,625134.000,625134.000,625134.000
mean,1.535,1.662,-73.974,40.751,-73.973,40.752
std,0.499,1.311,0.073,0.030,0.073,0.036
min,1.000,0.000,-121.933,37.390,-121.933,36.601
25%,1.000,1.000,-73.992,40.737,-73.991,40.736
50%,2.000,1.000,-73.982,40.754,-73.980,40.755
75%,2.000,2.000,-73.967,40.768,-73.963,40.770
max,2.000,9.000,-69.249,42.815,-67.497,48.858

In [13]:
test.groupby('passenger_count').size()

passenger_count
0        23
1    443447
2     90027
3     25686
4     12017
5     33411
6     20521
9         2
dtype: int64

In [14]:
test.groupby('store_and_fwd_flag').size()

store_and_fwd_flag
N    621704
Y      3430
dtype: int64

In [15]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Data columns (total 9 columns):
id                    625134 non-null object
vendor_id             625134 non-null int64
pickup_datetime       625134 non-null object
passenger_count       625134 non-null int64
pickup_longitude      625134 non-null float64
pickup_latitude       625134 non-null float64
dropoff_longitude     625134 non-null float64
dropoff_latitude      625134 non-null float64
store_and_fwd_flag    625134 non-null object
dtypes: float64(4), int64(2), object(3)
memory usage: 42.9+ MB

In [16]:
test = test[test['passenger_count'] > 0]
test = test[test['passenger_count'] <= 6]

In [17]:
test = test[test['store_and_fwd_flag'] == 'N']

In [18]:
test = test[test['pickup_longitude'] <= -73.75]
test = test[test['pickup_longitude'] >= -74.03]
test = test[test['pickup_latitude'] <= 40.85]
test = test[test['pickup_latitude'] >= 40.63]
test = test[test['dropoff_longitude'] <= -73.75]
test = test[test['dropoff_longitude'] >= -74.03]
test = test[test['dropoff_latitude'] <= 40.85]
test = test[test['dropoff_latitude'] >= 40.63]

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1429229 entries, 0 to 1458643
Data columns (total 11 columns):
id                    1429229 non-null object
vendor_id             1429229 non-null int64
pickup_datetime       1429229 non-null object
dropoff_datetime      1429229 non-null object
passenger_count       1429229 non-null int64
pickup_longitude      1429229 non-null float64
pickup_latitude       1429229 non-null float64
dropoff_longitude     1429229 non-null float64
dropoff_latitude      1429229 non-null float64
store_and_fwd_flag    1429229 non-null object
trip_duration         1429229 non-null int64
dtypes: float64(4), int64(3), object(4)
memory usage: 130.8+ MB

In [20]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 613563 entries, 0 to 625133
Data columns (total 9 columns):
id                    613563 non-null object
vendor_id             613563 non-null int64
pickup_datetime       613563 non-null object
passenger_count       613563 non-null int64
pickup_longitude      613563 non-null float64
pickup_latitude       613563 non-null float64
dropoff_longitude     613563 non-null float64
dropoff_latitude      613563 non-null float64
store_and_fwd_flag    613563 non-null object
dtypes: float64(4), int64(2), object(3)
memory usage: 46.8+ MB

In [21]:
train.to_csv('C:/Users/WuJue/Desktop/nyc-taxi-trip/output/train_cleaned.csv')
test.to_csv('C:/Users/WuJue/Desktop/nyc-taxi-trip/output/test_cleaned.csv')