In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('C:/Users/WuJue/Desktop/nyc-taxi-trip/output/train_cleaned.csv')
test = pd.read_csv('C:/Users/WuJue/Desktop/nyc-taxi-trip/output/test_cleaned.csv')

In [3]:
train['pickup_datetime'] = pd.to_datetime(train.pickup_datetime)
test['pickup_datetime'] = pd.to_datetime(test.pickup_datetime)
train.loc[:, 'pickup_date'] = train['pickup_datetime'].dt.date
test.loc[:, 'pickup_date'] = test['pickup_datetime'].dt.date
train['dropoff_datetime'] = pd.to_datetime(train.dropoff_datetime)

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1429229 entries, 0 to 1429228
Data columns (total 13 columns):
Unnamed: 0            1429229 non-null int64
id                    1429229 non-null object
vendor_id             1429229 non-null int64
pickup_datetime       1429229 non-null datetime64[ns]
dropoff_datetime      1429229 non-null datetime64[ns]
passenger_count       1429229 non-null int64
pickup_longitude      1429229 non-null float64
pickup_latitude       1429229 non-null float64
dropoff_longitude     1429229 non-null float64
dropoff_latitude      1429229 non-null float64
store_and_fwd_flag    1429229 non-null object
trip_duration         1429229 non-null int64
pickup_date           1429229 non-null object
dtypes: datetime64[ns](2), float64(4), int64(4), object(3)
memory usage: 141.8+ MB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Data columns (total 11 columns):
Unnamed: 0            625134 non-null int64
id                    625134 non-null object
vendor_id             625134 non-null int64
pickup_datetime       625134 non-null datetime64[ns]
passenger_count       625134 non-null int64
pickup_longitude      625134 non-null float64
pickup_latitude       625134 non-null float64
dropoff_longitude     625134 non-null float64
dropoff_latitude      625134 non-null float64
store_and_fwd_flag    625134 non-null object
pickup_date           625134 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 52.5+ MB

In [6]:
train['Month'] = train['pickup_datetime'].dt.month
test['Month'] = test['pickup_datetime'].dt.month
train['DayofMonth'] = train['pickup_datetime'].dt.day
test['DayofMonth'] = test['pickup_datetime'].dt.day
train['Hour'] = train['pickup_datetime'].dt.hour
test['Hour'] = test['pickup_datetime'].dt.hour
train['dayofweek'] = train['pickup_datetime'].dt.dayofweek
test['dayofweek'] = test['pickup_datetime'].dt.dayofweek

In [7]:
len(train.groupby('Month').size()),len(test.groupby('Month').size())

(6, 6)

In [8]:
train.groupby('Month').size(),test.groupby('Month').size()

(Month
 1    225143
 2    233764
 3    251145
 4    246478
 5    243295
 6    229404
 dtype: int64, Month
 1     97676
 2    102314
 3    109697
 4    107432
 5    107570
 6    100445
 dtype: int64)

In [9]:
len(train.groupby('DayofMonth').size()),len(test.groupby('DayofMonth').size())

(31, 31)

In [10]:
len(train.groupby('Hour').size()),len(test.groupby('Hour').size())

(24, 24)

In [11]:
len(train.groupby('dayofweek').size()),len(test.groupby('dayofweek').size())

(7, 7)

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1429229 entries, 0 to 1429228
Data columns (total 17 columns):
Unnamed: 0            1429229 non-null int64
id                    1429229 non-null object
vendor_id             1429229 non-null int64
pickup_datetime       1429229 non-null datetime64[ns]
dropoff_datetime      1429229 non-null datetime64[ns]
passenger_count       1429229 non-null int64
pickup_longitude      1429229 non-null float64
pickup_latitude       1429229 non-null float64
dropoff_longitude     1429229 non-null float64
dropoff_latitude      1429229 non-null float64
store_and_fwd_flag    1429229 non-null object
trip_duration         1429229 non-null int64
pickup_date           1429229 non-null object
Month                 1429229 non-null int64
DayofMonth            1429229 non-null int64
Hour                  1429229 non-null int64
dayofweek             1429229 non-null int64
dtypes: datetime64[ns](2), float64(4), int64(8), object(3)
memory usage: 185.4+ MB

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Data columns (total 15 columns):
Unnamed: 0            625134 non-null int64
id                    625134 non-null object
vendor_id             625134 non-null int64
pickup_datetime       625134 non-null datetime64[ns]
passenger_count       625134 non-null int64
pickup_longitude      625134 non-null float64
pickup_latitude       625134 non-null float64
dropoff_longitude     625134 non-null float64
dropoff_latitude      625134 non-null float64
store_and_fwd_flag    625134 non-null object
pickup_date           625134 non-null object
Month                 625134 non-null int64
DayofMonth            625134 non-null int64
Hour                  625134 non-null int64
dayofweek             625134 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(7), object(3)
memory usage: 71.5+ MB

In [14]:
train.to_csv('C:/Users/WuJue/Desktop/nyc-taxi-trip/output/train_trans.csv')
test.to_csv('C:/Users/WuJue/Desktop/nyc-taxi-trip/output/test_trans.csv')