In [4]:
import pandas as pd
from datetime import datetime
import numpy as np
import requests

In [5]:
test = pd.read_csv("C:/Users/WuJue/Desktop/nyc-taxi-trip/input/test.csv")

In [6]:
test.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N

In [19]:
import requests
def calRoutes(start, stop):
    url = 'http://router.project-osrm.org/route/v1/driving/' + start + ';' + stop + '?geometries=geojson&overview=simplified&steps=false'
    response = requests.get(url)
    data = response.json()
    routes = data["routes"][0]
    return routes
start = '120.38609,30.29742'
stop = '120.32375,30.2905'
routes = calRoutes(start, stop)
print(routes)

{'geometry': {'coordinates': [[120.386362, 30.297321], [120.382159, 30.288818], [120.378671, 30.289832], [120.347115, 30.289888], [120.336178, 30.291638], [120.328134, 30.295271], [120.325015, 30.290115], [120.323843, 30.290652]], 'type': 'LineString'}, 'legs': [{'summary': '', 'weight': 1881.5, 'duration': 919.2, 'steps': [], 'distance': 7129.8}], 'weight_name': 'routability', 'weight': 1881.5, 'duration': 919.2, 'distance': 7129.8}

In [26]:
route = pd.DataFrame(routes['legs'])

In [29]:
coord = pd.DataFrame(routes['geometry'])

In [31]:
route.head()

   distance  duration steps summary  weight
0    7129.8     919.2    []          1881.5

In [32]:
coord.head()

               coordinates        type
0  [120.386362, 30.297321]  LineString
1  [120.382159, 30.288818]  LineString
2  [120.378671, 30.289832]  LineString
3  [120.347115, 30.289888]  LineString
4  [120.336178, 30.291638]  LineString

In [36]:
coord.shape[0]

8

In [37]:
coord.head(10)

               coordinates        type
0  [120.386362, 30.297321]  LineString
1  [120.382159, 30.288818]  LineString
2  [120.378671, 30.289832]  LineString
3  [120.347115, 30.289888]  LineString
4  [120.336178, 30.291638]  LineString
5  [120.328134, 30.295271]  LineString
6  [120.325015, 30.290115]  LineString
7  [120.323843, 30.290652]  LineString